<template>
  <b-container class="mt-5">
    <b-row>
      <b-col>
        <div class="about text-left">
          <h6>Done</h6>
          <ul class="done">
            <li v-for="(task, key) in done"
                :key="key"
                v-text="task" />
          </ul>
          <h6>Not done</h6>
          <ul>
            <li v-for="(task, key) in notDone"
                :key="key"
                v-text="task" />
          </ul>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>
<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  data: () => ({
    done: [
      'scaffolding',
      'theming',
      'router',
      'store',
      'business logic',
      'responsiveness',

    ],
    notDone: [
      'layout improvements',
      'unit tests',
      'beta testing',
      'more unit tests :)'
    ]
  })
});
</script>
<style lang="scss" scoped>
h5 {
  font-size: 7rem;
  font-weight: 100;
  font-style: italic;
}

.done li {
  text-decoration: line-through;
}
</style>
