<template>
  <div class="home h-100">
    <books-list />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import BooksList from '@/components/BooksList.vue';

export default Vue.extend({
  name: 'Home',
  components: {
    BooksList,
  },
});
</script>
