// main
$m-dark: #000;
$m-light: #FFF;

// alt
$a-dark: #000;
$a-light: #f5f5f5;

// inverted
$i-m-dark: #e1e2e5;
$i-m-light: #15161a;

// inverted alt
$i-a-dark: #DDDEE1;
$i-a-light: #24262C;

$enable-rounded: false;
$enable-caret: false;
$enable-responsive-font-sizes: true;
$btn-border-width: 2px;
$grid-gutter-width: 20px;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$colors: map-remove($colors, "blue", "indigo", "purple", "pink", "red", "orange", "yellow", "green", "teal", "cyan", "white", "gray", "gray-dark");
$colors: (
        "orange": #f50,
        "red": #BC2E2E,
        "green": #8CB439,
        "yellow": #DEC648
);
$theme-colors: map-remove($theme-colors, "warning", "light", "dark");
$theme-colors: (
        "primary": #f50,
        "light": #DDDEE1,
        "dark": #15161a,
        "info": #369,
        "success": #8CB439,
        "danger": #BC2E2E,
        "alt-light": #f6f7f8,
        "alt-dark": #24262C
);
$font-family-sans-serif: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$component-active-color: #f50;
$btn-border-width: 1px;

@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
//@import "~bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
//@import "~bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
//@import "~bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
//@import "~bootstrap/scss/print";

@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

