@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import 'variables';
#app {
  font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--alt-dark);
  &:before {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
  }
  pre {
    color: inherit;
  }
  main {
    padding-top: 57px;
  }
  .navbar-dark.bg-dark {
    backdrop-filter: blur(6px);
    box-shadow: 0 42px 21px -34px rgba(0, 255, 255, .07);
    background-color: #19fffa54 !important;
  }
  > *:not(nav) {
    position: relative;
  }
  .list-group-flush + .list-group-flush {
    border-top: none;
  }
  .card {
    background-color: #44888821;
    border-color: #206d7099;
    color: white;
    border-radius: .25rem;
    backdrop-filter: blur(6px);
    box-shadow: 0 42px 21px -34px rgba(0, 255, 255, .07);
  }
  .list-group {
    background-color: transparent;
  }
  .list-group-item {
    background-color: transparent;
    border-color: #206d70;
  }
}
