<template>
  <b-container :fluid="true" class="h-100 h-md-auto">
    <b-row class="h-100">
      <b-col :lg="4"
             class="h-100">
        <b-container :fluid="true">
          <b-row>
            <b-col :lg="11"
                   class="px-3"
                   offset-lg="1">
              <b-card class="my-5" no-body>
                <b-list-group flush>
                  <b-list-group-item v-for="(book, key) in books"
                                     :key="key"
                                     class="d-flex justify-content-between">
                    {{ book.title }}
                    <div class="d-flex align-items-center">
                      <div class="mr-5 text-primary"
                           v-text="getBookQty(book)" />
                      <div class="mr-5" v-text="numberFormat(book.price)" />
                      <b-btn-group class="list-item-actions"
                                   size="lg">
                        <b-btn variant="info"
                               class="add-to-cart-btn"
                               :disabled="notInCart(book)"
                               @click="removeFromCart(book)">
                          <b-icon-cart-dash />
                        </b-btn>
                        <b-btn variant="success"
                               class="add-to-cart-btn"
                               @click="addToCart(book)">
                          <b-icon-cart-plus-fill />
                        </b-btn>
                      </b-btn-group>
                    </div>
                  </b-list-group-item>
                </b-list-group>
              </b-card>

              <b-card class="my-5" no-body>
                <b-list-group flush>
                  <b-list-group-item v-for="(discount, key) in discountLevels"
                                     :key="key"
                                     class="d-flex justify-content-between">
                    <span class="text-left w-25"
                          v-text="discount.count + ' product' + (key ? 's': '')" />
                    <div class="mr-5 w-25 text-right"
                         v-text="discounts[key] + '%'" />
                    <div class="d-flex align-items-center">
                      <b-btn-group class="list-item-actions"
                                   size="lg">
                        <b-btn variant="dark"
                               class="add-to-cart-btn"
                               @click="changeDiscount(key, -1)">
                          <b-icon-dash-circle-fill />
                        </b-btn>
                        <b-btn variant="light"
                               class="add-to-cart-btn"
                               @click="changeDiscount(key, 1)">
                          <b-icon-plus-circle-fill />
                        </b-btn>
                      </b-btn-group>
                    </div>
                  </b-list-group-item>
                </b-list-group>
              </b-card>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
      <b-col :lg="4">
        <b-container :fluid="true">
          <b-row>
            <b-col class="px-3 pb-5">
              <cart-summary />
              <discounts />
            </b-col>
          </b-row>
        </b-container>
      </b-col>
      <b-col :lg="4">
        <b-container :fluid="true">
          <b-row>
            <b-col :lg="11" class="px-3 pb-5">
              <b-card class="mt-5">
                <pre v-text="{ discountGroups, discountLevels }" />
              </b-card>
            </b-col>
          </b-row>
        </b-container>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue';
import CartSummary from "@/components/CartSummary.vue";
import { createNamespacedHelpers, mapGetters, mapState } from "vuex";
import { BookRecord, CartItem } from "@/types";
import { numberFormat } from "@/helper";
import Discounts from "@/components/Discounts.vue";

const { mapMutations } = createNamespacedHelpers('cart');

export default Vue.extend({
  name: 'HelloWorld',
  components: { CartSummary, Discounts },
  data: () => ({
    bookPrice: 8
  }),
  computed: {
    ...mapState('book', ['books']),
    ...mapState('cart', ['discounts']),
    ...mapGetters('cart', ['discountGroups', 'discountLevels']),
    cartItems(): CartItem[] {
      return this.$store.state.cart.items;
    }
  },
  methods: {
    numberFormat,
    ...mapMutations([
        'addToCart',
        'removeFromCart'
    ]),
    notInCart(book: BookRecord): boolean {
      return this.cartItems.findIndex(({ id }: CartItem) => id === book.id) === -1;
    },
    getBookQty(book: BookRecord): number | string {
      const qty = this.cartItems.find(({ id }: CartItem) => id === book.id)?.qty || 0;
      return qty ? '× ' + qty : '';
    },
    changeDiscount(key: number, value: number) {
      this.$store.commit('cart/setDiscount', {
        key,
        value: this.discounts[key] + value
      });
    }
  }
});
</script>
<style scoped lang="scss">
.list-item-actions {
  margin: -.75rem -1.25rem -.75rem 0;
  .btn {
    border-radius: 0;
    .list-group-item:first-child & {
      border-top-right-radius: .25rem;
    }
    .list-group-item:last-child & {
      border-bottom-right-radius: .25rem;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
.h-md-auto {
  @media (max-width: 1199px) {
    height: auto !important;
  }
}
pre { text-align:  left };
</style>
