<template>
  <div class="pt-lg-5 pt-0">
    <b-card no-body class="text-right">
      <b-list-group flush>
        <b-list-group-item>
          <h4 v-text="'Your cart'" />
        </b-list-group-item>
      </b-list-group>
      <b-list-group flush>
        <b-list-group-item class="d-flex justify-content-between">
          Cart positions
          <div v-text="count" />
        </b-list-group-item>
        <b-list-group-item class="d-flex justify-content-between">
          Total cart items
          <div v-text="itemsCount" />
        </b-list-group-item>
        <b-list-group-item class="d-flex justify-content-between">
          Total price
          <div v-text="numberFormat(total)" />
        </b-list-group-item>
        <b-list-group-item class="d-flex justify-content-between text-success">
          Discount
          <div v-text="numberFormat(discount)" />
        </b-list-group-item>
        <b-list-group-item class="d-flex justify-content-between">
          <strong>Total</strong>
          <div>
            <strong v-text="numberFormat(discountedTotal)" />
          </div>
        </b-list-group-item>
      </b-list-group>
    </b-card>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { mapGetters, mapState } from "vuex";
import { numberFormat } from "@/helper";
import { CartItem } from "@/types";
export default Vue.extend({
  name: 'CartSummary',
  computed: {
    ...mapState('cart', ['items']),
    ...mapGetters('cart', ['total', 'discountedTotal', 'count']),
    discount(): number {
      return this.total - this.discountedTotal;
    },
    itemsCount(): number {
      return this.items
          .map(({ qty }: CartItem) => qty)
          .reduce((a: number, b: number) => a + b, 0);
    }
  },
  methods: {
    numberFormat
  }
});
</script>
