<template>
  <div class="pt-lg-5 pt-0">
    <b-card no-body class="text-right">
      <b-list-group flush>
        <b-list-group-item>
          <h4 v-text="'Applied discounts'" />
        </b-list-group-item>
      </b-list-group>
      <template v-if="discountGroups.length">
        <b-list-group flush>
          <b-list-group-item v-for="(group, key) in discountGroups"
                             :key="key">
            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <!--<div class="mr-2" v-text="`Discount ${key + 1}`" />-->
                <div v-text="getGroupNames(group.group)" />
              </div>
              <div class="ml-auto mr-5 pr-5 discount-multiplier">
                {{ group.multiplier }}
              </div>
              <b-badge pill
                       variant="primary"
                       class="d-flex align-items-center"
                       v-text="`${group.discount}%`" />
            </div>
          </b-list-group-item>
        </b-list-group>
      </template>
      <b-card-body v-else>
        <pre class="mb-0" v-text="'No discounts yet. Add stuff to cart!'" />
      </b-card-body>
    </b-card>
    <pre v-text="discountLevels" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { mapGetters, mapState } from "vuex";
import { CartItem } from "@/types";
export default Vue.extend({
  name: "Discounts",
  computed: {
    ...mapState('cart', ['items']),
    ...mapGetters('cart', ['discountGroups', 'discountLevels'])
  },
  methods: {
    getItemName(id: string): string {
      return (this.items || [])
          .find((item: CartItem) => item.id === id)?.title || '';
    },
    getGroupNames(ids: string[]) {
      return ids.map(id => this.getItemName(id)).join(', ');
    }
  }
});
</script>

<style scoped lang="scss">
.badge {
  min-width: 50px;
  font-size: 1rem;
}
.discount-multiplier {
  &:before {
    content: '× '
  }
}
pre {
  text-align: left;
}
</style>
