<template>
  <b-navbar toggleable="lg"
            type="dark"
            variant="dark"
            fixed="top">
    <b-container>
      <b-navbar-brand to="/">
        Books Sale
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse" />

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item to="/about">
            About
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-container>
  </b-navbar>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  name: "Navbar"
});
</script>
