<template>
  <div id="app"
       class="books-sale-app"
       :style="{ backgroundColor: 'var(--alt-dark)' }">
    <navbar />
    <main>
      <router-view />
    </main>
    <footer />
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Navbar from '@/components/Navbar.vue';

export default Vue.extend({
  name: 'App',
  components: {
    Navbar
  }
});
</script>

<style src="./style/app.scss" lang="scss" />
